{
    "extends": ["prettier", "prettier/react"],
    "plugins": ["prettier"],
    "rules": {},
    "globals": {
      "window": true,
      "document": true,
      "localStorage": true,
      "FormData": true,
      "FileReader": true,
      "Blob": true,
      "navigator": true,
      "Headers": true,
      "Request": true,
      "fetch": true
    },
    "parser": "babel-eslint"
  }